@charset "UTF-8";

body {
    font-family: 'メイリオ',
        'Hiragino Kaku Gothic Pro', 'sans-serif';
    margin: 0;
}

/* サイト名 */
.site h1 a {
    color: #000000;
    text-decoration: none;
}

.site h1 {
    font-size: 30px;
    margin: 0;
}

.site img {
    border: none;
}

/* ヘッダー画像 */
.topimg {
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}

/* キャッチコピー */
.catch {
    background-color: #ffffff;
    font-size: 24px;
    margin: 0;
    opacity: 0.7;
    padding: 15px;
}

/* ヘッダー画像にキャッチコピーを重ねる */
.top {
    position: relative;
}

.catch {
    bottom: 7%;
    left: 3%;
    position: absolute;
}

/* 概要 */
.gaiyou a {
    background-color: #222222;
    color: #ffffff;
    display: block;
    text-align: center;
    text-decoration: none;
}

.gaiyou a:hover {
    opacity: 0.8;
}

.gaiyou i {
    display: block;
    font-size: 38px;
    padding-bottom: 40px;
    padding-top: 40px;
}

.gaiyou .fa-database {
    background-color: #40aaef;
}

.gaiyou .fa-bar-chart-o {
    background-color: #58be89;
}

.gaiyou .fa-envelope {
    background-color: #f27398;
}

.gaiyou h1 {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 5px;
    padding-top: 5px;
}

.gaiyou p {
    background-color: #444444;
    font-size: 12px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 15px;
    padding-top: 15px;
}

/* お知らせ */
.news {
    border: solid 5px #dddddd;
    padding: 20px;
}

.news h1 {
    color: #666666;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 0;
}

.news ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.news li a {
    border-bottom: dotted 2px #dddddd;
    color: #000000;
    display: block;
    font-size: 14px;
    padding: 5px;
    text-decoration: none;
}

.new li a:hover {
    background-color: #eeeeee;
}

.news time {
    color: #888888;
    font-weight: bold;
}

.news a::after {
    clear: both;
    content: "";
    display: block;
}

.news time {
    float: left;
    width: 60px;
}

.news .text {
    float: none;
    margin-left: 60px;
    width: auto;
}

/* SNSメニュー */
.follow ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.follow li a {
    border-radius: 4px;
    color: #ffffff;
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px;
    text-decoration: none;
}

.follow li a:hover {
    opacity: 0.8;
}

.follow-tw {
    background-color: #63bafb;
}
.follow-fb {
    background-color: #5288f7;
}
.follow-gp {
    background-color: #f65d4a;
}

.follow i {
    font-size: 24px;
    margin-right: 10px;
    vertical-align: middle;
}

/* 補足説明 */
.follow p {
    background-color: #dddddd;
    font-size: 14px;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 10px;
    text-align: center;
}

.follow-info {
	background: #dddddd;
	position: relative;
}

.follow-info::after {
    border: solid transparent;
	/* border-color: rgba(221, 221, 221, 0); */
	border-top-color: #dddddd;
	border-width: 15px;
	content: " ";
	height: 0;
	left: 50%;
	margin-left: -15px;
	pointer-events: none;
	position: absolute;
	top: 100%;
	width: 0;
}

/* コピーライト */
.copyright p {
    color: #666666;
    font-size: 14px;
    margin: 0;
}

/* footerをバーの形にする */
.footer {
    background-color: #dddddd;
    padding-bottom: 15px;
    padding-top: 15px;
}

/* ボックスの左右 */
.header, .info, .footer, .pickup {
    padding-left: 15px;
    padding-right: 15px;
}

/* ボックスの上下 */
.header {
    padding-bottom: 10px;
    padding-top: 20px;
}

.info {
    padding-bottom: 20px;
    padding-top: 20px;
}

.info-main {
    padding-bottom: 20px;
}

.pickup {
    padding-top: 20px;
}

.pickup-1, .pickup-2, .pickup-3 {
    padding-bottom: 10px;
}

/* ########## 599px以上 ########## */
@media (max-width: 599px) {
    .menu li a {
        font-size: 11px;
        padding: 10px 7px;
    }

    /* キャッチコピー */
    .catch {
        font-size: 12px;
        padding: 5px 10px;
    }
}

/* ########## 767px以下 ########## */
@media (max-width: 767px) {
    
    /* トグルボタン */
    #menubtn {
        padding: 6px 12px;
        border: solid 1px #aaaaaa;
        border-radius: 5px;
        background-color: #ffffff;
        position: absolute;
        top: 20px;
        right: 15px;
        cursor: pointer;
    }

    #menubtn:hover {
        background-color: #dddddd;
    }

    #menubtn:focus {
        outline: none;
    }

    #menubtn i {
        color: #888888;
        font-size: 18px;
    }

    #menubtn span {
        display: inline-block;
        text-indent: -9999px;
    }

    #menu {
        display: none;
    }

    /* ナビゲーションメニュー（縦並び） */
    .menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .menu li a {
        color: #000000;
        display: block;
        font-size: 14px;
        padding: 5px;
        text-decoration: none;
    }

    .menu li a:hover {
        background-color: #eeeeee;
    }
}

/* ########## 768px以上 ########## */
@media (min-width: 768px) {

    /* トグルボタン */
    #menubtn {
        display: none;
    }

    /* ナビゲーション */
    #menu {
        display: block !important;
    }

    .menu ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .menu li a {
        color: #000000;
        display: block;
        font-size: 14px;
        padding: 10px 15px;
        text-decoration: none;
    }

    .menu li a:hover {
        background-color: #eeeeee;
    }

    .menu li::after {
        clear: both;
        content: "";
        display: block;
    }

    .menu li {
        float: left;
        width: auto;
    }

    .header::after {
        clear: both;
        content: "";
        display: block;
    }
    
    .header-site {
        float: left;
        width: auto;
    }
    
    .header-nav {
        float: right;
        width: auto;
    }

    /* info-mainとinfo-subを横に並べる設定 */
    .info::after {
        clear: both;
        content: "";
        display: block;
    }

    .info-main {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        float: left;
        padding-right: 35px;
        width: 70%;
    }

    .info-sub {
        float: left;
        width: 30%;
    }

    /* pickup-1、pickup-2、pickup-3を横に並べる設定 */
    .pickup::after {
        clear: both;
        content: "";
        display: block;
    }

    .pickup-1 {
        float: left;
        margin-right: 2%;
        width: 32%;
    }

    .pickup-2 {
        float: left;
        margin-right: 2%;
        width: 32%;
    }

    .pickup-3 {
        float: left;
        width: 32%;
    }
}

/* ########## 1190px以上 ########## */
@media (min-width: 1190px) {
    
    /* 全体の横幅を固定 */
    .photo, .info, .header-inner, .footer-inner, .pickup {
        margin-left: auto;
        margin-right: auto;
        width: 1140px;
    }

    /* BOX Aの下に罫線を挿入 */
    .header {
        border-bottom: solid 1px #dddddd;
        margin-bottom: 20px;
    }
}